<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="dbc23b1bbe25304f95bd0da33400cd3072ConnectionString"
            connectionString="Data Source=c23b1bbe-2530-4f95-bd0d-a33400cd3072.sqlserver.sequelizer.com;Initial Catalog=dbc23b1bbe25304f95bd0da33400cd3072;Persist Security Info=True;User ID=tlmfurihbcfzlncr;Password=zjhJxKkHwiPNmWvTmvyhy275uPDxGy3aPiAVPQXjr3YMaMfnSBSeh8pFmkoRfUb6"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
