body {   
    background-image: url('../images/MainBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
   }

.logo {
    width: 100%;
    height: 100px;
    background-image: none;
}

.content {
    border: thin solid #000099;
    float: right;
    width: 80%;
    margin-top: 0px;
    margin-left: 1px;
    position: absolute;
    top: 120px;
    background-color: #FFFFFF;
    left: 250px;
}

.menu {
    border: thin solid #0000FF;
    width: 17%;
    position: absolute;
    margin-top: 0px;
    margin-right: 1px;
    top: 120px;
    background-color: #99CCFF;
    background-image: url('../images/Background_0.png');
    height: 80%;
}

.bottom {
    border-width: 1px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: #C0C0C0;
    height: 23px;
    color: #FFFFFF;
}

#welcome {
    position: absolute;
    top: 90px;
    right: 15px;
    color: #FFFFFF;
    right: 120px;
}

#log_out 
{
    position: absolute;
    top: 90px;
    right: 25px;
    color: #FFFFFF;
}

#TreeView1
{
    
}