body {
}

#first, #second, #third { 
    padding: 20px;
    width: 410px;
    text-align: center;
    left: 20px;
    border:1px dashed #000000;
    background-image: url('../images/bg_W.png'); 
}

#Label1 {

}